<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>海淀黄庄</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div align="center" style="font-family: 楷体; font-size: 50px">
    姓名:<span th:text="${name}"></span>&nbsp;
    性别:<span th:text="${sex}"></span>&nbsp;
    年龄:<span th:text="${age}"></span>&nbsp;
    职业:<span th:text="${work}"></span>&nbsp;
</div>
<div>
    <img th:height="250px" th:src="@{/tu_pian/hai_dian_huang_zhuang/bai_hua_ping.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/hai_dian_huang_zhuang/bian_su_xiang.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/hai_dian_huang_zhuang/bing_ma_yong.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/hai_dian_huang_zhuang/bing_ma_yong_2.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/bo_wu_guan_chu_men.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/bu_ji_de.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/bu_ji_de_shi_shen_no_wan_yi.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/bu_qing_chu.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/bu_xiao_de.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/bu_xiao_de_2.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/bu_xiao_de_3.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/bu_zhi_dao.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/bu_zhi_dao_3.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/bu_zhi_dao_4.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/bu_zhi_dao_shen_mo_wan_yi.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/ci_ping.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/ci_wa_wa.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/di_mian_dian_shi.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/di_qiu_mo_xing.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/dian_shi_li_qiang.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/dian_shi_qiang.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/fei_ji.jpg}" />}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/fei_zhou_ren_2.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/fei_zhou_xiao_ren.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/feng_ren_ji.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/gai_jin_fa_dong_ji.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/gu_dai_bu_luo.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/gu_dai_de_qian.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/gu_dai_jiu_zun.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/gu_dai_yuan_qian.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/gu_dai_zhi_bi.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/huo_cai_zhuang_he_ji.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/jia_gu_wen.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/jia_gu_wen_yin.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/jun_shi_li_liang.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/jun_yong_che.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/kang_you_wei.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/lin_xiu_tu.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/luo_hou_ai_da.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/ma_ke_si.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/ming_jia_zi_hua.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/qiang_bi_hua.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/qiang_hua.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/qiang_ti_da_dian_shi.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/qiang_ti_dian_shi_2.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/qiang_ti_ying_ping.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/qing_hua_ci.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/qing_hua_ci_ping.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/qu_dai_qian.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/ren_mian_shou.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/ren_mian_xiang.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/shan_shui_hua.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/shou_ji.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/shu_fa.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/shui_che.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/si_jiaoyang_zun.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/si_mu_wu_ding.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/tai_kong_fu.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/tai_kong_qiu.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/tan_ke_mo_xing.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/tao_ci_xiao_ren.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/wei_ma_tu.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/wei_xin_pai.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/xiao_bing_ma_yong.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/xiao_hai_zhen_tou.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/xin_hai_ge_ming.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/yuan_ding.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/yuan_gu_shi_qi.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/zhan_jian.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/zhao_ming_qi_ti.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/zhi_nan_zhen_bi_hua.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/zhi_wa_ji.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/zhi_wa_ji_quan_jing_2.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/zhi_wa_ji_zheng_ti.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/zhi_yao_ji.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/guo_jia_bo_wu_guan/zhi_zhuan_ji.jpg}" />
</div>
</body>
</html>