<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>婚纱照相册</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div align="center" style="font-family: 楷体; font-size: 50px">
    姓名:<span th:text="${name}"></span>&nbsp;
    性别:<span th:text="${sex}"></span>&nbsp;
    年龄:<span th:text="${age}"></span>&nbsp;
    职业:<span th:text="${work}"></span>&nbsp;
</div>
<div>
    <img th:height="250px" th:src="@{/tu_pian/hun_sha_zhao_xiang_ce/xiang_ce_01.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/hun_sha_zhao_xiang_ce/xiang_ce_02.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/hun_sha_zhao_xiang_ce/xiang_ce_03.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/hun_sha_zhao_xiang_ce/xiang_ce_04.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/hun_sha_zhao_xiang_ce/xiang_ce_05.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/hun_sha_zhao_xiang_ce/xiang_ce_06.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/hun_sha_zhao_xiang_ce/xiang_ce_07.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/hun_sha_zhao_xiang_ce/xiang_ce_08.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/hun_sha_zhao_xiang_ce/xiang_ce_09.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/hun_sha_zhao_xiang_ce/xiang_ce_10.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/hun_sha_zhao_xiang_ce/xiang_ce_11.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/hun_sha_zhao_xiang_ce/xiang_ce_12.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/hun_sha_zhao_xiang_ce/xiang_ce_13.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/hun_sha_zhao_xiang_ce/xiang_ce_14.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/hun_sha_zhao_xiang_ce/xiang_ce_15.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/hun_sha_zhao_xiang_ce/xiang_ce_16.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/hun_sha_zhao_xiang_ce/xiang_ce_17.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/hun_sha_zhao_xiang_ce/xiang_ce_18.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/hun_sha_zhao_xiang_ce/xiang_ce_19.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/hun_sha_zhao_xiang_ce/xiang_ce_20.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/hun_sha_zhao_xiang_ce/xiang_ce_21.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/hun_sha_zhao_xiang_ce/xiang_ce_22.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/hun_sha_zhao_xiang_ce/xiang_ce_23.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/hun_sha_zhao_xiang_ce/xiang_ce_24.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/hun_sha_zhao_xiang_ce/xiang_ce_25.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/hun_sha_zhao_xiang_ce/xiang_ce_26.jpg}" />
</div>
</body>
</html>