<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>军事博物馆</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div align="center">
    姓名:<span th:text="${name}"></span>&nbsp;&nbsp;&nbsp;&nbsp;
    性别:<span th:text="${sex}"></span>&nbsp;&nbsp;&nbsp;&nbsp;
    年龄:<span th:text="${age}"></span>&nbsp;&nbsp;&nbsp;&nbsp;
    职业:<span th:text="${work}"></span>&nbsp;&nbsp;&nbsp;&nbsp;
</div>

<div>
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/chuan.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/da_hao_tan_ke.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/da_tan_ke.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/DF-2.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/dong_feng_yi_hao.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/fei_ji_1.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/fei_ji_2.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/fei_ji_3.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/fei_ji_4.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/fei_ji_5.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/fei_ji_6.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/fei_ji_7.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/fei_ji_8.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/fei_ji_deng.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/fei_ji_xia.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/fei_ji_xia_2.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/huo_jian_che.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/huo_jian_dan.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/qiang_shang_zi.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/shu_ji.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/tan_ke.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/tan_ke_2.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/tan_ke_3.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/tan_ke_4.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/tan_ke_5.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/tan_ke_6.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/tan_ke_7.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/tan_ke_8.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/tan_ke_9.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/tan_ke_10.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/zhan_dou_ji.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/zhi_dan_tong.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/zhi_dan_tong_2.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/zhi_dan_tong_3.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/zhi_dan_tong_6.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/zhi_dan_tong_7.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/zhi_dan_tong_8.jpg}" />
    <img th:height="250px" th:src="@{/tu_pian/jun_shi_po_wu_guan/zi_pai.jpg}" />
</div>
</body>
</html>